<ul>
  <% @files.each do |file| %>
    <li>
      <a href="/<%= file %>"><%= file %></a>
      <a href="/<%= file %>/edit">edit</a>
      <a href="/<%= file %>/duplicate">duplicate</a>
      <form class="inline" method="post" action="/<%= file %>/destroy">
          <button type="submit">delete</button>
      </form>
    </li>
  <% end %>
</ul>

<p><a href="/new">New Document</a></p>

<%if session[:username] %>
  <p>
    Signed in as <%= session[:username]%>
    <form class="inline" method="post" action="/users/signout">
        <button type="submit">Sign out</button>
    </form>
  </p>
<% else %>
  <p class="user-status"><a href="/users/signin">Sign In</a></p>
<% end %>



