<p>Your will be flying <%= session[:airline] %> flight number <%= session[:number] %> departing from <%= session[:origin] %> and heading to <%= session[:destination] %>, Departing at <%= session[:time] %></p>
<a href="/">New Flight</a>
